body {
  background: #E5E5E5;
  font-family: 'Fira Sans', sans-serif;
}
body .container {
  padding: 55px 228px;
}
body .container .header-content {
  position: relative;
}
body .container .header-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .container .header-content ul:after {
  content: "";
  position: absolute;
  width: 93%;
  height: 4px;
  background-color: #ccc;
  top: 60px;
  left: 55px;
  z-index: -1;
  bottom: auto;
}
body .container .header-content ul li p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
body .container .header-content ul li a {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 auto;
  background: #F5F7FA;
  border: 2px solid #0066FF;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}
body .container .main-content {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
  border-radius: 6px;
  margin: 50px 33px 25px;
  width: 82%;
  padding: 50px 100px;
}
body .container .main-content h1 {
  margin: 0 0 30px;
}
body .container .main-content .main-content__interval {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
body .container .main-content .main-content__interval p {
  font-size: 15px;
  line-height: 108%;
  color: #000000;
  margin-right: 17px;
}
body .container .main-content .main-content__interval span {
  margin: 0 12px;
}
body .container .main-content .main-content__interval input {
  border: none;
  outline: none;
  border-bottom: 1px solid #BFC9E0;
  width: 36px;
}
body .container .main-content .main-content__calendar .main-content__calendar-block {
  display: flex;
}
body .container .main-content .main-content__calendar .main-content__calendar-block .main-content__calendar-block__day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .container .main-content .main-content__calendar .main-content__calendar-block .main-content__calendar-block__day p {
  margin: 0;
}
body .container .main-content .main-content__calendar .main-content__calendar-block .main-content__calendar-block__item {
  display: flex;
  overflow: hidden;
}
body .container .main-content .main-content__calendar .row .time {
  width: 100%;
  height: 20px;
  display: flex;
}
body .container .main-content .main-content__calendar .row .time .time-item {
  display: flex;
  width: 86px;
  border-right: 1px solid #cccccc;
}
body .container .main-content .main-content__calendar .row .time .time-item:nth-child(1) {
  width: 21px;
  border-right: 1px solid #cccccc;
}
body .container .main-content .main-content__calendar .row .time .time-item:nth-child(2) {
  width: 93px;
}
body .container .main-content .main-content__calendar .row .time .time-item span:first-child {
  font-size: 14px;
  padding-left: 5px;
}
body .container .main-content .main-content__calendar .row .time .time-item span:last-child {
  font-size: 10px;
}
body .container .main-content .main-content__calendar .row .time .time-item:last-child {
  border: 0;
}
body .container .main-content .main-content__calendar .row .line {
  width: 100%;
  height: 20px;
  display: flex;
}
body .container .main-content .main-content__calendar .row .line .line-item {
  width: 46px;
  height: 20px;
  border-right: 1px solid #cccccc;
}
body .container .main-content .main-content__calendar .row .line .line-item:first-child {
  width: 21px;
  border-right: 1px solid #cccccc;
}
body .container .main-content .main-content__calendar .row .line .line-item:nth-child(2) {
  width: 46px;
}
body .container .main-content .main-content__calendar .row .item {
  width: 46px;
  height: 46px;
  background: #DFE4EF;
  margin: 1px;
}
body .container .main-content .main-content__calendar .row .item.active {
  background: #0066FF;
}
body .container .main-content .main-content__calendar .row p {
  width: 18px;
  margin: 0 21px 0 0;
}
body .container .main-content .main-content__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 21px;
}
body .container .main-content .main-content__buttons a {
  display: block;
  border: 1px solid #D3D8DF;
  box-sizing: border-box;
  border-radius: 50px;
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 108%;
  padding: 10px 15px;
}
body .container .main-content .main-content__buttons a:first-child {
  margin-right: 10px;
}
body .container .footer-content .footer-content__buttons {
  display: flex;
  justify-content: center;
}
body .container .footer-content .footer-content__buttons a {
  display: block;
  border: 1px solid #D3D8DF;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 108%;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
body .container .footer-content .footer-content__buttons a:last-child {
  color: #FFFFFF;
  background-color: #0066FF;
  margin-left: 10px;
}
